.correct {
  color: green;
}

.wrong {
  color: red;
}

.current {
  border-bottom: 2px solid blue;
}

#testDisplay span {
  margin-right: 5px;
}

.controls button {
  margin: 5px;
}

.status span {
  margin-right: 10px;
}
